.dropdown-menu .dropdown-item.active {
    color: #ffffff; /* Color del texto activo */
    background-color: #feb5ce; /* Color de fondo del elemento activo */
}
.thead .table-dark{
    color: #ffffff;
}

